<a href="<%= url %>" target="_blank">
  <section>
    <div class="section_title"><%= name %></div>
    <div class="about_section">
      <span style="display:block;"><%= description %></span>
    </div>
  </section>
</a>